.classpath
captures/
project.properties
.project
.settings
bin/
gen/
.idea/
*.iml
out
tests
local.properties
ant.properties
.DS_Store
build.log
build-log.xml
.gradle
build
signing.properties
library/lib/
library/obj/
ffpr
test/androidTestEspresso/res/values/arrays.xml
obj/
app/jni/libspeex/.deps/
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
unfacd.iml
dev.iml
buildSrc/.gradle/
buildSrc/.build/
/keystores/play/release/
/keytool.exe
/app/play/release/
/app/protobuf/java/org/
dev.keystore
/device-transfer/app/release/device-transfer-app-release.apk
/device-transfer/app/release/output-metadata.json
